
body { min-height :100vh; }  /* vh stands for viewport height */

#container {
    border: 1px solid black;
    height: 640px;
    width: 640px;
}

.flex{
    display: flex;
}

.block{
    border: 1px black solid;
    background-color:brown;
    min-width: 40px;
    height: 40px;
}