

.flex{

    height: 48px;
    display: flex;
    flex-direction:row;
    
}

.block{
    border:1px black solid;
    background-color:brown;
    width: 48px;
    gap:3px;
    
}

.block:hover{
    background-color: blueviolet;
}